* {
  font-family: "Josefin Sans", sans-serif;
  color: #2f2f2f;
}

.space-between {
  justify-content: space-between;
}

.display-flex {
  display: flex;
}

.display-block {
  display: block;
}

.justify-center {
  justify-content: center;
}

.align-content-center {
  align-content: center;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.text-align-center {
  text-align: center;
}

.text-align-end {
  text-align: end;
}

/* delete modal */
.position-fixed {
  position: fixed;
}

.space-evenly {
  justify-content: space-evenly;
}

.modal-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-bg {
  width: 100%;
  height: 100vh;
  background: rgba(56, 56, 56, 0.8);
  z-index: 1;
}

.modal-box {
  margin: auto;
  width: 18rem;
  height: 15rem;
  background-color: white;
  border-radius: 0.5rem;
  padding: 1.4rem;
}

.delete-msg-main {
  color: rgba(39, 39, 39, 0.8);
  text-align: center;
  font-size: 1.7rem;
  font-weight: 400;
  margin-top: 0.6rem;
  margin-bottom: 1.2rem;
}

.delete-msg-minor {
  text-align: center;
  color: rgb(173, 173, 173);
  line-height: 1.1rem;
}

.cancel-btn,
.delete-btn {
  font-size: 0.8rem;
  font-weight: 400;
  width: 6.2rem;
  height: 2rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 1.2rem;
}

.delete-btn {
  background-color: #d44949;
  color: white;
}

.cancel-btn {
  background-color: #808080;
  color: white;
}

.exit-icon {
  color: rgb(112, 112, 112);
  position: absolute;
  right: 0.8rem;
  top: 0.6rem;
  cursor: pointer;
}

/* navbar */
.logo {
  font-size: 1.5rem;
  padding-top: 1.1rem;
}

.logo-font {
  margin-top: 1.2rem;
  font-size: 1.8rem;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

ul.nav-list {
  margin-top: 1.6rem;
  padding: 0;
}

.nav-links {
  display: inline;
  list-style: none;
  font-size: 0.9rem;
}

.nav-links > a {
  text-decoration: none;
  margin-left: 0.8rem;
  cursor: pointer;
  font-weight: 700;
}

.nav-links > a:hover {
  text-decoration: underline;
}

.user-icon {
  font-size: 1rem;
  margin-left: 0.2rem;
}

/* submit page */
.add-trail-title {
  font-weight: 400;
  font-size: 1.3rem;
}

.image-submit-box {
  display: flex;
  width: 100%;
  height: 20.5rem;
  border: 3px solid #e6e6e6;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.image-upload-button {
  font-size: 2.5rem;
  cursor: pointer;
  color: #436f22;
}

input[type="file"] {
  display: none;
}

.plus-button {
  color: #436f22;
}

.input-title {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-size: 1rem;
  color: #444;
}

.input-box {
  margin-bottom: 1.25rem;
  border-radius: 5px;
  line-height: 2.2rem;
  border: 1px solid #b6b6b6;
  font-size: 1.2rem;
  padding-left: 0.8rem;
  padding-top: 0.3rem;
  width: 100%;
}

input:focus,
select:focus {
  outline-color: #436f22;
}

.dropdown {
  width: 100%;
  height: 2.6rem;
  border-radius: 0.3rem;
  border: 1px solid #b6b6b6;
  padding-left: 0.3rem;
  padding-top: 0.3rem;
  font-size: 1rem;
  cursor: pointer;
}

.submit-button {
  text-align: right;
  margin-top: 1rem;
}

.submit-text {
  background-color: #436f22;
  border: none;
  font-size: 1rem;
  color: white;
  font-weight: 400;
  width: 6rem;
  height: 2.2rem;
  border-radius: 0.3rem;
  padding-top: 0.3rem;
  cursor: pointer;
}

/* trail entry */
.trail-entry {
  margin-bottom: 1.3rem;
  padding: 20px;
  width: 100%;
  height: 270px;
  background-color: #f9faf8;
  border-radius: 8px;
  box-shadow: 3px 3px 6px 0 rgba(153, 153, 153, 0.2);
}

.trail-name,
.trail-length-num,
.trail-length-mi,
.trail-address {
  color: #444;
}

.trail-name {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 0.3rem;
}

.icon-margin {
  margin-right: 0.5rem;
}

.trail-length-num,
.trail-length-mi {
  margin-top: 1rem;
  font-size: 2.5rem;
  font-weight: 500;
}

.trail-length-mi {
  margin-left: 0.4rem;
}

.trail-address {
  font-size: 1.3rem;
  bottom: 0;
  margin-bottom: 0;
  line-height: 1.5rem;
}

.trail-img {
  margin-left: 0.3rem;
  width: 100%;
  height: 14.3rem;
  object-fit: cover;
  border-radius: 8px;
}

.intensity-rating-easy,
.intensity-rating-moderate,
.intensity-rating-difficult {
  margin-top: 0.2rem;
  font-size: 1.2rem;
  font-weight: 300;
  padding: 0.6rem 0.8rem 0.3rem;
  color: white;
  border-radius: 12px;
}

.intensity-rating-easy {
  background-color: #a5cd51;
}

.intensity-rating-moderate {
  background-color: #d29d15;
}

.intensity-rating-difficult {
  background-color: #d21c1c;
}

.trash-icon {
  cursor: pointer;
}

/* landing page */
.landing-bg {
  width: 100%;
  height: 100vh;
  background-size: cover;
  z-index: -1;
  background-position: 50% 30%;
  position: fixed;
}

/* not found page */
.no-trail-msg {
  font-size: 1.5rem;
  text-align: center;
}

.add-button {
  margin-top: 2rem;
  margin-bottom: 3rem;
  text-align: center;
}

.click-to-add {
  margin-top: 0.4rem;
  font-size: 0.8rem;
  font-weight: 900;
  color: #436f22;
}

.search-container {
  margin-top: 8rem;
}

.quote {
  color: black;
  margin: auto;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.search-bar {
  margin: auto;
  width: 90%;
  height: 3.3rem;
  background-color: white;
  border-radius: 1.7rem;
}

.input-container {
  width: 100%;
  margin-top: 0.8rem;
  align-items: center;
}

.form-container {
  display: flex;
  justify-content: space-between;
}

.magnify-icon {
  margin-left: 1rem;
  margin-top: 0.3rem;
  font-size: 1.3rem;
  color: #436f22;
}

.keyword-container {
  width: 90%;
  margin-left: 0.5rem;
}

.keyword-box {
  width: 100%;
  height: 2rem;
}

input.keyword-box {
  color: #444;
  font-size: 1rem;
  border: none;
}

textarea.keyword-box:focus,
input.keyword-box:focus {
  outline: none;
}

button.go-button {
  padding-right: 0.8rem;
}

.go-button {
  font-size: 1.5rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.go-button-icon {
  color: #436f22;
}

.dot-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  position: fixed;
  bottom: 2rem;
}

.dot {
  color: white;
  font-size: 0.8rem;
  -webkit-text-stroke-width: 0.5px;
  margin: 0 0.2rem;
  cursor: pointer;
}

/* sign up and login modal */
.auth-box {
  margin: auto;
  width: 17rem;
  height: 17rem;
  background-color: white;
  border-radius: 0.4rem;
  padding: 1.4rem;
}

.get-started-msg {
  color: rgba(34, 34, 34, 0.8);
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 0.5rem;
  margin-bottom: 0.7rem;
}

.auth-input-label {
  font-size: 0.75rem;
  margin-bottom: 0.3rem;
}

.auth-input {
  width: 100%;
  height: 1.7rem;
  border-radius: 4px;
  border: 1px solid #b6b6b6;
  padding-left: 0.3rem;
  margin-bottom: 1.1rem;
}

.auth-submit-btn {
  font-weight: 400;
  font-size: 0.75rem;
  margin-top: 0.2rem;
  width: 100%;
  height: 1.8rem;
  border-radius: 1rem;
  color: rgb(236, 236, 236);
  background-color: #436f22;
  border: none;
  cursor: pointer;
}

.auth-check-msg {
  cursor: pointer;
  margin-top: 1.3rem;
  text-align: center;
  font-size: 0.75rem;
  color: rgba(56, 56, 56, 0.8);
}

.auth-check-msg:hover {
  text-decoration: underline;
}

.sign {
  font-size: 1.3rem;
  font-family: "Reenie Beanie", cursive;
  position: fixed;
  color: rgb(226, 226, 226);
  font-weight: 300;
  bottom: 0.5rem;
  right: 1.5rem;
}

/* app drawer */

.drawer {
  position: relative;
  display: flex;
  justify-content: end;
}

.drawer-container {
  position: absolute;
  display: flex;
  text-align: end;
}

.drawer-bg {
  right: 0;
  background-color: rgba(27, 27, 27, 0.8);
  padding: 0.3rem 1rem 0.4rem;
  height: 11.4rem;
  width: 10rem;
  border-radius: 0.4rem 0 0 0.4rem;
}

.drawer-title {
  color: rgb(199, 199, 199);
  padding-bottom: 0.9rem;
  border-bottom: 1px solid rgb(172, 171, 171);
}

.drawer-list {
  padding-left: 0;
  list-style: none;
}

.drawer-item {
  display: inline-block;
  color: rgb(199, 199, 199);
  cursor: pointer;
  text-decoration: none;
  padding-bottom: 1rem;
}

.drawer-item:hover {
  font-weight: 700;
  color: white;
}
